.album-container {
    background-color: #18181b;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.album-imagen {
    width: 220px;
    height: 220px;
    border-radius: 12px;
    object-fit: cover;
    border: 4px solid #9146FF;
    transition: transform 0.3s ease-in-out;
}

.album-imagen:hover {
    transform: scale(1.1);
}

.album-info {
    flex: 1;
}

.album-titulo {
    font-size: 2rem;
    color: #c792ea;
    font-weight: bold;
}

.album-detalles {
    font-size: 1.1rem;
    color: #b3b3b3;
    margin-top: 10px;
}

.lista-canciones {
    background-color: #252529;
    border-radius: 12px;
    padding: 15px;
    margin-top: 20px;
}

.lista-canciones h4 {
    color: #c792ea;
    font-weight: bold;
    margin-bottom: 10px;
}

.lista-canciones .list-group-item {
    background-color: #18181b;
    border-radius: 8px;
    border: 1px solid #27272a;
    transition: background 0.3s ease-in-out;
}

.lista-canciones .list-group-item:hover {
    background-color: #2d2d31;
}
.btn-spotify {
    background-color: #772ce8;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 15px;
    transition: 0.3s;
    border: 2px solid #9146FF; /* Borde de color brillante */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.btn-spotify:hover {
    background-color: #5b1dbf;
    border-color: #c792ea; /* Cambio de color del borde en hover */
}