<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-music"></i> Spotify Search
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
      </ul>
      <form class="d-flex ms-3" (submit)="search(); $event.preventDefault()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Buscar música..."
          [(ngModel)]="searchTerm"
          name="searchTerm"
        />
        <button class="btn btn-success" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
      
    </div>
  </nav>
  